{{> menu id="about"}}

<section class="ui left aligned middle aligned segment">

  <h2>About List App</h2>

  <p>
    This application allows users to create and manage manga/comic/booklists.
  </p>
  

</section>